<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link VUE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.min.js"></script>
    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <div id="app">
        <div class="background-top"></div>
        <div class="background-app"></div>
        <div class="container-app">
            <!-- .sidebar utente e lista contatti -->
            <aside class="sidebar">
                <!-- .sidebar-header utente e icone -->
                <div class="sidebar-header">
                    <div class="user">
                        <img src="./img/avatar_io.jpg" alt="mio avatar">
                        <span>Sofia</span>
                    </div>

                    <div class="box-icons">
                        <i class="fas fa-circle-notch fa-lg fa-fw"></i>
                        <i class="fas fa-comment-alt fa-lg fa-fw"></i>
                        <i class="fas fa-ellipsis-v fa-lg fa-fw"></i>
                    </div>
                </div>
                <!-- /.sidebar-header -->

                <!-- .notifier -->
                <div class="notifier">
                    <div class="bell-icon">
                        <i class="fas fa-bell-slash fa-2x fa-fw"></i>
                    </div>

                    <div class="notifier-info">
                        <p class="info">Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche descktop</a>
                    </div>
                </div>
                <!-- /.notifier -->

                <!-- .search-contact -->
                <div class="search-contact">
                    <i class="fas fa-search fa-lg fa-fw"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <!-- /.search-contact -->

                <div class="contact-list">
                    <ul>
                        <li v-for="(contact, index) in contacts" @click="setSelectedContact(index)" >
                            <img :src="'./img/avatar' + contact.avatar + '.jpg' ">
                            <div class="contact-info">
                                <div class="name">{{contact.name}}</div>
                                <div class="time-stamp"></div>
                                <div class="last-message"></div>
                            </div>
                        </li>
                    </ul>
                </div>

               
            </aside>
            <!-- /.sidebar -->
            <div class="chat">
                <!-- .chat-header -->
                <div class="chat-header">
                    <div class="user">
                        <img :src="`./img/avatar${contacts[selectedContactIndex].avatar}.jpg`">
                        <div class="chat-info">
                            <div class="name">{{contacts[selectedContactIndex].name}}</div>
                            <!-- MANCA LA DATA -->
                        </div>
                    </div>

                    <div class="box-icons">
                        <i class="fas fa-search fa-lg fa-fw"></i>
                        <i class="fas fa-paperclip fa-lg fa-fw"></i>
                        <i class="fas fa-ellipsis-v fa-lg fa-fw"></i>
                    </div>
                </div>
                <!-- /.chat-header -->

                <!-- .chat-main -->
                <div class="chat-main">
                    <div v-for="message in contacts[selectedContactIndex].messages" :class="(message.status === 'sent') ? 'msg-send' : 'msg-received' ">
                        <p>{{message.message}}</p>
                        <div class="time-stamp">{{message.date}}</div>
                    </div>
                </div>
                <!-- /.chat-main -->

                <div class="chat-footer">
                    <i class="far fa-smile fa-2x fa-fw"></i>
                    <textarea name="to-send" id="to-send" cols="90" rows="1" placeholder="Scrivi un messaggio" v-model="textToSend" @keydown.enter.exact.prevent @keyup.enter.exact="sendMessage"></textarea>
                    <i class="fas fa-microphone fa-2x fa-fw"></i>
                </div>
            </div>
        </div>
    </div>


    </div>




    <script src="js/script.js"></script>
</body>
</html>